.spectrum {
  margin: 0 auto;
  font-family: Roboto;
  font-size: 39.7px;
  font-weight: 300;
  font-stretch: condensed;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: 9.92px;
  text-align: right;
  color: #2c2b2a;
  cursor: pointer;
}
.spectrum .text-style-1 {
  color: #31a893;
}

.head-bar-copy {
  height: 175px;
  background-color: #f7fcfb;
}

.header-page {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.38px;
  text-align: center;
  color: #31a893;
}

.header-top {
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.header-bottom {
  border-top: 1px solid #d7d7d7;
  height: 65px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

@media (max-width: 650px) {
  .header-bottom {
    font-size: 25px;
  }
}
